<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
			<httpHandlers>
				<add path="robots.txt" verb="*" type="Arachnophobia.IIS.RobotsTxtHandler"/>
			</httpHandlers>
			<httpModules>
				<add name="AracnophobiaHeaderModule" type="Arachnophobia.IIS.RobotHeaderModule"/>
			</httpModules>
    </system.web>
	<system.webServer>
		<handlers>
				<add name="AracnophobiaRobotsTxt" path="robots.txt" verb="*" type="Arachnophobia.IIS.RobotsTxtHandler" preCondition="integratedMode"/>
		</handlers>
		<modules>
			<add name="AracnophobiaHeaderModule" type="Arachnophobia.IIS.RobotHeaderModule" preCondition="integratedMode"/>
		</modules>
	</system.webServer>
</configuration>
